MONGO_USER=admin    
MONGO_PASS=admin123*
MONGO_DB=lymon

#Backend

PORT=3000
isDevelopment=true
MONGODB_URI = MONGO_URI
JWT_SECRET = your_jwt_secret_key
APP_URL=http://localhost:3000
BREVO_API_KEY= BREVO_API_KEY_value
SUPPORT_URL=tempora_value
isDevelopment=true
SONAR_TOKEN= SONAR_TOKEN_value

#Frontend

# Cómo estamos utilizando angular, al momento de construir la imagen se guarda automáticamente los valores de las variables de entorno.